.footer {
  display: flex;
  flex-flow: column;
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;

  align-items: center;
  font-family: "Nunito", sans-serif;
  color: $black-blue;

  @media (max-width: 1110px) {
    padding: 0 10px;
  }

  @media (max-width: 767px) {
    max-width: 320px;
    padding: 0;
    margin-top: 70px;
  }
}

.footer-title {
  margin-top: 40px;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  width: 75%;

  span {
    color: $red-pink;
  }

  @media (max-width: 1110px) {
    font-size: 30px;
  }

  @media (max-width: 767px) {
    margin-top: 25px;
    width: 100%;
    font-size: 24px;
  }
}

.footer-text {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 300;

  @media (max-width: 1110px) {
    font-size: 20px;
  }
  @media (max-width: 767px) {
    margin-top: 15px;
    font-size: 18px;
  }
}

.footer-img__container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 20px;
  padding-bottom: 125px;
  width: 1300px;

  background: url(../img/3.footer/table.png) no-repeat bottom left;

  @media (max-width: 1110px) {
    padding-bottom: 8%;
    width: 100%;
    background-size: contain;
    background-position: bottom center;
  }


  @media (max-width: 767px) {
    margin-top: 25px;
  }
}

.footer-img {
  @media (max-width: 1110px) {
    width: 300px;
    align-self: center;
    justify-self: center;
  }

  @media (max-width: 767px) {
    width: 127px;
    height: 112px;
  }
}