*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #ffffff;
}

.wrapper {
  display: flex;
  flex-flow: column;
  max-width: 100%;
  min-height: 100vh;

  align-items: center;
  position: relative;

  overflow: hidden;
  background: #f6f9fa;

  &::before {
    position: absolute;
    top: 0;
    content: url("../img/bg-start.png");
    z-index: 0;
  }

  @media (max-width: 767px) {
    &::before {
      top: -350px;
      transform: scale(0.5, 0.5);
    }
  }
}

.header {
  width: 100%;
}

.logo {
  display: block;
  width: 211px;
  height: 44px;
  background: url("../img/1.header/logo.png") no-repeat 0 50%/contain;
  font-size: 0;
  text-decoration: none;

  @media (max-width: 767px) {
    position: absolute;
    top: 20px;
  }
}

.header__logo {
  width: 237px;
  height: 49px;
  margin-bottom: 5px;
  position: relative;
  background-position: 100% 50%;
  background-size: contain;
  text-decoration: none;
  border-bottom: none;

  @media (max-width: 1380px) {
    width: 180px;
    height: 38px;
    margin-bottom: 3px;
  }
  @media (max-width: 1110px) {
    margin-top: 30px;
    align-self: center;
  }
  @media (max-width: 1080px) {
    flex: 0 0 auto;
  }
  @media (max-width: 767px) {
    width: 185px;
    height: 40px;
    margin: 0;
  }
}