@font-face {
  font-family: "Kozuka Gothic Pr6N";
  font-display: swap;
  src: url("../fonts/KozGoPr6N-Regular-AlphaNum.woff") format("woff"), url("../fonts/KozGoPr6N-Regular-AlphaNum.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "adobekaitistd-regular";
  font-display: swap;
  src: url("../fonts/adobekaitistd-regular.woff") format("woff"), url("../fonts/adobekaitistd-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "SimHei";
  font-display: swap;
  src: url("../fonts/SimHei.woff") format("woff"), url("../fonts/SimHei.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
*, *:before, *:after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  background: #ffffff;
}

.wrapper {
  display: flex;
  flex-flow: column;
  max-width: 100%;
  min-height: 100vh;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: #f6f9fa;
}
.wrapper::before {
  position: absolute;
  top: 0;
  content: url("../img/bg-start.png");
  z-index: 0;
}
@media (max-width: 767px) {
  .wrapper::before {
    top: -350px;
    transform: scale(0.5, 0.5);
  }
}

.header {
  width: 100%;
}

.logo {
  display: block;
  width: 211px;
  height: 44px;
  background: url("../img/1.header/logo.png") no-repeat 0 50%/contain;
  font-size: 0;
  text-decoration: none;
}
@media (max-width: 767px) {
  .logo {
    position: absolute;
    top: 20px;
  }
}

.header__logo {
  width: 237px;
  height: 49px;
  margin-bottom: 5px;
  position: relative;
  background-position: 100% 50%;
  background-size: contain;
  text-decoration: none;
  border-bottom: none;
}
@media (max-width: 1380px) {
  .header__logo {
    width: 180px;
    height: 38px;
    margin-bottom: 3px;
  }
}
@media (max-width: 1110px) {
  .header__logo {
    margin-top: 30px;
    align-self: center;
  }
}
@media (max-width: 1080px) {
  .header__logo {
    flex: 0 0 auto;
  }
}
@media (max-width: 767px) {
  .header__logo {
    width: 185px;
    height: 40px;
    margin: 0;
  }
}

.content {
  display: flex;
  flex-flow: column;
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}
@media (max-width: 767px) {
  .content {
    max-width: 320px;
    align-items: center;
  }
}

.block {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 20;
}
@media (max-width: 1110px) {
  .block {
    padding-left: 10px;
  }
}
@media (max-width: 767px) {
  .block {
    padding-left: 0;
    margin: -6px;
  }
}

.block_first {
  flex-flow: column;
}
@media (max-width: 767px) {
  .block_first {
    flex-flow: column-reverse;
    position: relative;
  }
}
@media (max-width: 767px) {
  .block_first {
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.block_second {
  margin-top: 100px;
}
.block_second .inner-block_left {
  margin-top: 180px;
}
@media (max-width: 767px) {
  .block_second {
    padding-left: 0;
    margin-top: 30px;
  }
}

.block_third {
  margin-top: -40px;
}

.block_fourth {
  margin-top: -80px;
}

.block_fifth {
  margin-top: -30px;
}

.block_sixth {
  margin-top: -30px;
}
.block_sixth .inner-block_left {
  position: relative;
  top: -100px;
}
@media (max-width: 767px) {
  .block_sixth .inner-block_left {
    top: 0;
  }
}

.block_seventh {
  margin-top: -100px;
}
.block_seventh .inner-block_left {
  position: relative;
  top: -60px;
}
.block_seventh .inner-block__text {
  width: 480px;
}
@media (max-width: 1023px) {
  .block_seventh {
    margin-top: -105px;
  }
}
@media (max-width: 767px) {
  .block_seventh .inner-block_left {
    top: 0;
  }
  .block_seventh .inner-block__text {
    width: 100%;
  }
}

.block_eighth {
  margin-top: -165px;
}
.block_eighth .inner-block_left {
  position: relative;
  top: -60px;
}
.block_eighth .inner-block__text {
  width: 480px;
}
@media (max-width: 767px) {
  .block_eighth .inner-block_left {
    top: 0;
  }
  .block_eighth .inner-block__text {
    width: 100%;
  }
}

.block_ninth {
  margin-top: -160px;
}
.block_ninth .inner-block_left {
  position: relative;
  top: -60px;
}
.block_ninth .inner-block__text {
  width: 440px;
}
@media (max-width: 1023px) {
  .block_ninth {
    margin-top: -180px;
  }
  .block_ninth .inner-block__text {
    max-width: 350px;
  }
}
@media (max-width: 767px) {
  .block_ninth .inner-block_left {
    top: 0;
  }
  .block_ninth .inner-block__text {
    width: 100%;
  }
}

.block_tenth {
  margin-top: -65px;
  margin-bottom: 150px;
}
.block_tenth .inner-block_left {
  position: relative;
  top: -80px;
}
.block_tenth .inner-block__text {
  width: 390px;
}
.block_tenth .inner-block_tower::before {
  height: 100% !important;
}
@media (max-width: 1023px) {
  .block_tenth {
    margin-top: -85px;
  }
  .block_tenth .inner-block__text {
    max-width: 300px;
  }
}
@media (max-width: 767px) {
  .block_tenth .inner-block_left {
    top: 0;
  }
  .block_tenth .inner-block__text {
    width: 100%;
  }
}

.block_hide {
  z-index: 10;
}
.block_hide .inner-block_left {
  opacity: 0;
  transition: 0.3s all ease-in-out;
}
.block_hide .inner-block_tower::before {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  right: 0;
  bottom: 0;
  background: #fff;
  box-shadow: 0 0 50px 50px #fff;
  width: 250%;
  height: 120%;
  opacity: 0.5;
  z-index: 1;
  transition: all 0.3s ease;
}
.block_hide .tower-inner-image {
  opacity: 0;
}

.block_active-mobile {
  flex-flow: column-reverse;
  width: 370px;
  padding: 0 20px 30px 20px !important;
  border-radius: 30px;
  background: #ffffff;
  box-shadow: 0px 5px 46px 0px rgba(5, 22, 26, 0.24);
  z-index: 25;
}
.block_active-mobile .inner-block_left {
  display: flex;
  margin: 0;
  width: 100%;
}
.block_active-mobile .btn_inner-block {
  width: 255px;
  justify-content: center;
}
.block_active-mobile .change-block-btn {
  position: static;
  display: flex;
  flex-flow: column-reverse;
  align-items: center;
  width: 100%;
  margin: 0;
  font-size: 16px;
  text-align: center;
}
.block_active-mobile .change-block-btn::before {
  position: static;
  left: calc((100% - 25px) / 2);
  width: 25px;
  height: 20px;
  margin: 15px 0 0 0;
  background-size: 25px 20px;
}
.block_active-mobile .change-block-btn_prev {
  flex-flow: column;
  margin-bottom: 15px;
}
.block_active-mobile .change-block-btn_prev::before {
  margin: 0 0 15px 0;
}
.block_active-mobile .tower-inner-image {
  display: flex;
}
.block_active-mobile .inner-block__row {
  margin: 30px 0;
}
.block_active-mobile .inner-block__title {
  width: 100%;
  height: auto;
  justify-content: center;
}
.block_active-mobile .inner-block__title::before {
  width: 55px;
  height: 55px;
}
.block_active-mobile .inner-block__text {
  text-align: center;
  font-size: 16px;
}
.block_active-mobile .tower-image_first {
  position: relative;
  width: 200px;
  height: 200px;
  top: -55px;
  left: 0;
  margin-bottom: -50px;
}
.block_active-mobile .tower-image_second, .block_active-mobile .tower-image_third, .block_active-mobile .tower-image_fourth, .block_active-mobile .tower-image_fifth, .block_active-mobile .tower-image_sixth,
.block_active-mobile .tower-image_seventh {
  margin-top: 20px;
}
.block_active-mobile .tower-image_eighth, .block_active-mobile .tower-image_ninth {
  margin-top: 30px;
}
.block_active-mobile .tower-inner-image_first {
  top: 45%;
}
.block_active-mobile .popup-close__mobile {
  display: flex;
  top: 20px;
  right: 20px;
}

.first-block__logo {
  margin-top: 60px;
}

.first-block-up {
  display: flex;
  flex-flow: column;
  margin-top: 115px;
  font-family: "Nunito";
}
@media (max-width: 1110px) {
  .first-block-up {
    margin-top: 40px;
  }
}
@media (max-width: 767px) {
  .first-block-up {
    margin-top: 140px;
    align-items: center;
  }
}

.first-block-up__top-text {
  font-size: 55px;
  color: #d3587e;
  font-weight: 800;
  line-height: 1.309;
}
@media (max-width: 767px) {
  .first-block-up__top-text {
    font-size: 30px;
  }
}

.first-block-up__title {
  margin-top: 20px;
  font-size: 90px;
  color: #2c2c38;
  font-weight: 800;
  line-height: 0.8;
}
@media (max-width: 767px) {
  .first-block-up__title {
    margin-top: 10px;
    font-size: 36px;
  }
}

.first-block-up__subtitle {
  margin-top: 30px;
  font-size: 30px;
  font-family: "Nunito";
  color: #4b465a;
  line-height: 0.9;
}
.first-block-up__subtitle span {
  font-weight: 800;
}
@media (max-width: 767px) {
  .first-block-up__subtitle {
    margin-top: 10px;
    font-size: 18px;
  }
}

.inner-block__row {
  display: flex;
  align-items: center;
  margin-top: 45px;
}
@media (max-width: 767px) {
  .inner-block__row {
    margin-top: 20px;
    flex-flow: column;
  }
}

.btn {
  height: 65px;
  padding: 0 54px;
  background: #954090;
  border: none;
  border-radius: 30px;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  font-family: Nunito, sans-serif;
  font-weight: 700;
  letter-spacing: -0.35px;
  outline: none;
}
.btn:hover {
  background: #c357bd;
  background: linear-gradient(#954090, #c357bd);
}
.btn:active {
  background: #c357bd;
  background: linear-gradient(#954090, #954090);
}

.btn_inner-block {
  width: 230px;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  line-height: 3.3;
}
@media (max-width: 767px) {
  .btn_inner-block {
    display: flex;
    align-items: center;
    width: 210px;
    height: 40px;
    font-size: 17px;
  }
}

.btn_popup {
  margin-top: 25px;
  width: 100%;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  border-radius: 8px;
}
@media (max-width: 767px) {
  .btn_popup {
    font-size: 18px;
    height: 50px;
    padding: 0;
  }
}

.inner-block__row-comment {
  margin-left: 25px;
  font-size: 15px;
  font-family: "Nunito";
  color: #919dad;
  font-weight: bold;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .inner-block__row-comment {
    margin-top: 10px;
    margin-left: 0;
    font-size: 14px;
  }
}

.inner-block__row-comment_slide {
  margin-left: 0;
  margin-right: 35px;
  color: #a6b2b6;
  font-weight: 500;
}
@media (max-width: 767px) {
  .inner-block__row-comment_slide {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 16px;
  }
}

.inner-block__row-comment_mobile {
  display: none;
}
@media (max-width: 767px) {
  .inner-block__row-comment_mobile {
    margin-top: 40px;
    display: flex;
    align-items: center;
    font-size: 13px;
  }
  .inner-block__row-comment_mobile::before {
    content: url(../img/2.content/pointer-mobile.png);
    margin-right: 20px;
  }
}

.first-block-bottom {
  display: flex;
  position: relative;
  margin-top: 337px;
}
@media (max-width: 1110px) {
  .first-block-bottom {
    margin-top: 420px;
  }
}
@media (max-width: 767px) {
  .first-block-bottom {
    margin-top: 290px;
  }
}

.first-block-bottom__panda-min {
  position: absolute;
  right: 0;
  bottom: 0;
}
.first-block-bottom__panda-min:hover .saying-block {
  opacity: 1 !important;
}
@media (max-width: 767px) {
  .first-block-bottom__panda-min {
    left: -10px;
  }
}

.first-block-bottom__image {
  height: 575px;
}
@media (max-width: 1110px) {
  .first-block-bottom__image {
    width: 75%;
    height: auto;
  }
}
@media (max-width: 767px) {
  .first-block-bottom__image {
    width: 190px;
    height: 200px;
  }
}

.saying-block {
  position: absolute;
  top: -43%;
  right: -20%;
  display: flex;
  flex-flow: column;
  width: 545px;
  height: 350px;
  padding: 70px 100px 30px;
  justify-content: flex-start;
  align-items: center;
  font-family: Nunito, sans-serif;
  color: #2c2c38;
  text-align: center;
  transition: 0.5s all ease-in-out;
  opacity: 0;
  background: url("../img/2.content/saying-bg.png") center 0/contain no-repeat;
  animation: showMessage 1s forwards 2s, hideMessage 1s forwards 5s;
}
@media (max-width: 767px) {
  .saying-block {
    background: none;
    padding: 0;
    top: 60%;
    left: 5%;
    width: 285px;
    height: 200px;
    z-index: 10;
  }
  .saying-block::before {
    position: absolute;
    top: -25%;
    content: "";
    background: url("../img/2.content/saying-bg-mobile.png") no-repeat 0/contain;
    width: 305px;
    height: 285px;
    z-index: -1;
  }
}

.saying-block__title {
  font-size: 24px;
  font-weight: 800;
  line-height: 0.708;
}
@media (max-width: 767px) {
  .saying-block__title {
    width: 150px;
    font-size: 16px;
  }
}

.saying-block__description {
  display: flex;
  flex-flow: column;
  margin-top: 15px;
  font-size: 17px;
  font-weight: 500;
  height: auto;
  line-height: 1.1;
}
.saying-block__description span {
  margin-top: 10px;
  margin-right: 10px;
  font-weight: 800;
}
@media (max-width: 767px) {
  .saying-block__description {
    margin-top: 5px;
    width: 230px;
    font-size: 14px;
  }
}

.saying-block__btn {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  background-color: #23a9e1;
  padding: 0;
  font-size: 20px;
}
@media (max-width: 767px) {
  .saying-block__btn {
    margin-top: 5px;
    width: 100px;
    height: 30px;
    font-size: 16px;
  }
}

.inner-block {
  display: flex;
  flex-flow: column;
  font-family: Nunito, sans-serif;
}

.inner-block_left {
  width: 59%;
  height: auto;
  opacity: 1;
}
@media (max-width: 1110px) {
  .inner-block_left {
    z-index: 10;
  }
}
@media (max-width: 767px) {
  .inner-block_left {
    display: none;
  }
}

.inner-block_tower {
  position: relative;
  width: 40%;
  box-shadow: none;
  transition: 0.3s all ease-in-out;
}
@media (max-width: 767px) {
  .inner-block_tower {
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.inner-block__title {
  display: flex;
  align-items: center;
  font-size: 44px;
  color: #23a9e1;
  font-weight: 800;
  line-height: 0.8;
}
@media (max-width: 1110px) {
  .inner-block__title {
    font-size: 30px;
  }
}
@media (max-width: 1023px) {
  .inner-block__title {
    font-size: 25px;
  }
}

.inner-block__title_heroes::before {
  content: "";
  background: url("../img/2.content/tower-title1.svg") 0/contain no-repeat;
  width: 120px;
  height: 100px;
  margin-right: 20px;
}

.inner-block__title_learning::before {
  content: "";
  background: url("../img/2.content/tower-title2.svg") 0/contain no-repeat;
  width: 120px;
  height: 120px;
  margin-right: 20px;
}

.inner-block__title_listening::before {
  content: "";
  background: url("../img/2.content/tower-title3.svg") 0/contain no-repeat;
  width: 120px;
  height: 100px;
  margin-right: 20px;
}

.inner-block__title_writing::before {
  content: "";
  background: url("../img/2.content/tower-title4.svg") 0/contain no-repeat;
  width: 115px;
  height: 105px;
  margin-right: 20px;
}

.inner-block__title_speaking::before {
  content: "";
  background: url("../img/2.content/tower-title5.svg") 0/contain no-repeat;
  width: 115px;
  height: 120px;
  margin-right: 20px;
}

.inner-block__title_mobile::before {
  content: "";
  background: url("../img/2.content/tower-title6.svg") 0/contain no-repeat;
  width: 115px;
  height: 120px;
  margin-right: 20px;
}

.inner-block__title_reading::before {
  content: "";
  background: url("../img/2.content/tower-title7.svg") 0/contain no-repeat;
  width: 115px;
  height: 120px;
  margin-right: 20px;
}

.inner-block__title_online::before {
  content: "";
  background: url("../img/2.content/tower-title8.svg") 0/contain no-repeat;
  width: 120px;
  height: 105px;
  margin-right: 20px;
}

.inner-block__title_main::before {
  content: "";
  background: url("../img/2.content/tower-title9.svg") 0/contain no-repeat;
  width: 125px;
  height: 110px;
  margin-right: 20px;
}

.inner-block__sub-title {
  margin-top: 25px;
  font-size: 27px;
  font-weight: 800;
}
@media (max-width: 767px) {
  .inner-block__sub-title {
    font-size: 18px;
    text-align: center;
    margin-top: 15px;
  }
}

.inner-block__text {
  margin-top: 30px;
  max-width: 570px;
  font-size: 20px;
  color: #000000;
  font-weight: 600;
  line-height: 1.2;
}
@media (max-width: 1023px) {
  .inner-block__text {
    font-size: 18px;
    max-width: 400px;
  }
}
@media (max-width: 767px) {
  .inner-block__text {
    margin-top: 15px;
  }
}

.inner-block__pagination {
  display: flex;
  margin-top: 40px;
  margin-left: 15px;
}
@media (max-width: 767px) {
  .inner-block__pagination {
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
  }
}

.inner-block__pagination_margin-top {
  margin-top: 170px;
}

.inner-block__pagination-button {
  margin-right: 30px;
  position: relative;
}
.inner-block__pagination-button input {
  opacity: 0;
}
.inner-block__pagination-button span {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 14px;
  height: 14px;
  background: #beddee;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.inner-block__pagination-button span:before {
  position: absolute;
  content: "";
  background: none;
  width: 28px;
  height: 28px;
  border: 1px solid #954090;
  border-radius: inherit;
  transition: 0.3s all ease-in-out;
  opacity: 0;
}
.inner-block__pagination-button > input:checked + span {
  background: #954090;
}
.inner-block__pagination-button > input:checked + span:before {
  opacity: 1;
}
.inner-block__pagination-button:last-of-type {
  margin-right: 0;
}
@media (max-width: 767px) {
  .inner-block__pagination-button {
    margin-right: 15px;
  }
  .inner-block__pagination-button span {
    width: 10px;
    height: 10px;
  }
  .inner-block__pagination-button span:before {
    width: 22px;
    height: 22px;
  }
}

.change-block-btn {
  display: none;
  flex-flow: column;
  justify-self: flex-end;
  margin-top: auto;
  position: absolute;
  bottom: 50px;
  cursor: pointer;
  width: 480px;
  font-size: 24px;
  color: #beddee;
  font-weight: bold;
  line-height: 1;
  text-align: left;
  background: none;
  transition: 0.3s all ease-in-out;
  z-index: 100;
  outline: none;
  opacity: 1;
}
.change-block-btn::before {
  content: "";
  width: 45px;
  height: 40px;
  margin-bottom: 25px;
  background: url("../img/2.content/arrows.svg") no-repeat;
  position: absolute;
  top: -50px;
  transition: 0.3s all ease-in-out;
  left: 40px;
}
.change-block-btn:hover {
  color: #23a9e1;
}
.change-block-btn:hover::before {
  background: url("../img/2.content/arrows-active.svg") no-repeat;
}
.change-block-btn:active {
  opacity: 0.7;
  transition: all 0.1s ease-in-out;
}
@media (max-width: 767px) {
  .change-block-btn:hover::before {
    width: 25px;
    height: 20px;
    background-size: 25px 20px;
  }
}

.change-block-btn__fixed {
  position: fixed;
  display: flex;
  transition: opacity 1s ease-in-out;
}

.change-block-btn_prev {
  top: 40px;
  bottom: initial;
}
.change-block-btn_prev::before {
  top: 110%;
  transform: rotate(180deg);
}

.tower-image {
  position: relative;
  right: 35px;
  bottom: 0;
}
@media (max-width: 1023px) {
  .tower-image {
    right: -30px;
  }
}
@media (max-width: 767px) {
  .tower-image {
    position: static;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .tower-image_first {
    width: 175px;
    height: 160px;
  }
}

.tower-image_second {
  right: 75px;
}
@media (max-width: 1023px) {
  .tower-image_second {
    right: 10px;
  }
}
@media (max-width: 767px) {
  .tower-image_second {
    width: 195px;
    height: 105px;
  }
}

.tower-image_third {
  right: 80px;
}
@media (max-width: 1023px) {
  .tower-image_third {
    right: 15px;
  }
}
@media (max-width: 767px) {
  .tower-image_third {
    width: 216px;
    height: 110px;
  }
}

.tower-image_fourth {
  right: 125px;
}
@media (max-width: 1023px) {
  .tower-image_fourth {
    right: 60px;
  }
}
@media (max-width: 767px) {
  .tower-image_fourth {
    width: 240px;
    height: 115px;
  }
}

.tower-image_fifth {
  right: 155px;
}
@media (max-width: 1023px) {
  .tower-image_fifth {
    right: 90px;
  }
}
@media (max-width: 767px) {
  .tower-image_fifth {
    width: 260px;
    height: 110px;
  }
}

.tower-image_sixth {
  right: 182px;
}
@media (max-width: 1023px) {
  .tower-image_sixth {
    right: 117px;
  }
}
@media (max-width: 767px) {
  .tower-image_sixth {
    width: 270px;
    height: 110px;
  }
}

.tower-image_seventh {
  right: 220px;
}
@media (max-width: 1023px) {
  .tower-image_seventh {
    right: 155px;
  }
}
@media (max-width: 767px) {
  .tower-image_seventh {
    width: 290px;
    height: 110px;
  }
}

.tower-image_eighth {
  right: 260px;
}
@media (max-width: 1023px) {
  .tower-image_eighth {
    right: 195px;
  }
}
@media (max-width: 767px) {
  .tower-image_eighth {
    width: 310px;
    height: 120px;
  }
}

.tower-image_ninth {
  right: 308px;
}
@media (max-width: 1023px) {
  .tower-image_ninth {
    right: 243px;
  }
}
@media (max-width: 767px) {
  .tower-image_ninth {
    width: 340px;
    height: 100px;
  }
}

.tower-inner-image {
  position: absolute;
  transition: 1s all ease-in-out;
  opacity: 1;
}
@media (max-width: 767px) {
  .tower-inner-image {
    display: none;
  }
}

.tower-inner-image_first {
  bottom: 13.5%;
  right: -30%;
}
@media (max-width: 1110px) {
  .tower-inner-image_first {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .tower-inner-image_first {
    width: 150px;
    top: 55%;
    left: calc((100% - 150px) / 2);
  }
}

.tower-inner-image_second {
  top: 21.8%;
  left: 20%;
}
@media (max-width: 767px) {
  .tower-inner-image_second {
    width: 44px;
    height: 40px;
    top: 31%;
    left: 30%;
  }
}

.tower-inner-image_third {
  top: 20%;
  left: 55%;
}
@media (max-width: 767px) {
  .tower-inner-image_third {
    width: 37px;
    height: 45px;
    top: 22%;
    left: 45%;
  }
}

.tower-inner-image_fourth {
  top: 27.6%;
  left: 21%;
  height: 372px;
}
@media (max-width: 767px) {
  .tower-inner-image_fourth {
    width: 71px;
    height: 81px;
    top: 34%;
    left: 38%;
  }
}

.tower-inner-image_fifth {
  top: 31.5%;
  left: 20%;
}
@media (max-width: 1023px) {
  .tower-inner-image_fifth {
    top: 32%;
  }
}
@media (max-width: 767px) {
  .tower-inner-image_fifth {
    width: 83px;
    height: 38px;
    top: 41%;
    left: 30%;
  }
}

.tower-inner-image_sixth {
  top: 17.2%;
  left: 58%;
}
@media (max-width: 767px) {
  .tower-inner-image_sixth {
    width: 61px;
    height: 53px;
    top: 20%;
    left: 45%;
  }
}

.tower-inner-image_seventh {
  top: 23%;
  left: 20%;
}
@media (max-width: 1023px) {
  .tower-inner-image_seventh {
    top: 24%;
  }
}
@media (max-width: 767px) {
  .tower-inner-image_seventh {
    width: 64px;
    height: 43px;
    top: 35%;
    left: 30%;
  }
}

.tower-inner-image_eighth {
  bottom: 35%;
  left: -12%;
}
@media (max-width: 1023px) {
  .tower-inner-image_eighth {
    bottom: 33%;
  }
}
@media (max-width: 767px) {
  .tower-inner-image_eighth {
    width: 73px;
    height: 63px;
    top: 40%;
    left: 20%;
  }
}

.cloud-img {
  position: absolute;
  top: 0;
  left: 0;
  animation: clouds 40s linear forwards;
  animation-iteration-count: infinite;
}
@media (max-width: 767px) {
  .cloud-img {
    transform: scale(0.3, 0.3);
  }
}

.cloud-img_first {
  top: 9%;
  z-index: 15;
  animation-delay: -20s;
}

.cloud-img_second {
  top: 5%;
  animation-delay: -10s;
}

.cloud-img_third {
  top: 18%;
  animation-delay: 0s, 20s;
}

.cloud-img_fourth {
  top: 25%;
  z-index: 15;
  animation-delay: -35s;
}

.cloud-img_fifth {
  top: 30%;
  animation-delay: -20s;
}

.cloud-img_sixth {
  top: 35%;
}

.cloud-img_seventh {
  top: 38%;
  animation-delay: 0s, 10s;
}

.cloud-img_eighth {
  top: 42%;
}

.cloud-img_ninth {
  top: 45%;
  z-index: 15;
}

.cloud-img_ten {
  top: 48%;
  animation-delay: -20s;
}

.cloud-img_eleven {
  top: 52%;
  animation-delay: -10s;
}

.cloud-img_twelve {
  top: 56%;
  animation-delay: 0s, 20s;
}

.cloud-img_thirteen {
  top: 60%;
  z-index: 15;
  animation-delay: -35s;
}

.cloud-img_fourteen {
  top: 64%;
  animation-delay: -20s;
}

.cloud-img_fifteen {
  top: 66%;
  animation-delay: -20s;
}

.cloud-img_sixteen {
  top: 68%;
}

.cloud-img_seventeen {
  top: 70%;
  animation-delay: 0s, 10s;
}

.cloud-img_eighteen {
  top: 73%;
  z-index: 15;
}

.popup-wrapper {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.popup-subscribe {
  position: relative;
  max-width: 735px;
  width: 66%;
  padding: 70px 100px;
  display: flex;
  flex-flow: column;
  align-items: center;
  font-family: "Nunito";
  background: #ffffff;
  border-radius: 30px;
}
@media (max-width: 767px) {
  .popup-subscribe {
    max-width: 320px;
    width: 100%;
    padding: 30px;
  }
}

.popup-subscribe__image {
  width: 134px;
}
@media (max-width: 767px) {
  .popup-subscribe__image {
    width: 90px;
  }
}

.popup-subscribe__title {
  margin-top: 25px;
  font-size: 44px;
  color: #954090;
  font-weight: 800;
  line-height: 1;
  text-align: center;
}
@media (max-width: 767px) {
  .popup-subscribe__title {
    font-size: 27px;
  }
}

.popup-subscribe__text {
  margin-top: 15px;
  font-size: 18px;
  color: #4b465a;
  line-height: 1;
  text-align: center;
}
@media (max-width: 767px) {
  .popup-subscribe__text {
    font-size: 15px;
  }
}

.popup-subscribe__label {
  display: flex;
  flex-flow: column;
  margin-top: 25px;
  width: 100%;
}

.popup-subscribe__input {
  width: 100%;
  padding-bottom: 10px;
  font-size: 20px;
  color: #bbb9c1;
  outline: none;
  border-bottom: 2px solid #e7ebee;
}
@media (max-width: 767px) {
  .popup-subscribe__input {
    font-size: 16px;
  }
}

.popup-subscribe__subtext {
  font-size: 12px;
  color: #8a8793;
}

.popup-close {
  position: absolute;
  content: url(../img/2.content/exit.svg);
  top: 35px;
  right: 45px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.popup-close:hover {
  content: url(../img/2.content/exit-active.svg);
}

.popup-close__mobile {
  display: none;
}

.footer {
  display: flex;
  flex-flow: column;
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  align-items: center;
  font-family: "Nunito", sans-serif;
  color: #2c2c38;
}
@media (max-width: 1110px) {
  .footer {
    padding: 0 10px;
  }
}
@media (max-width: 767px) {
  .footer {
    max-width: 320px;
    padding: 0;
    margin-top: 70px;
  }
}

.footer-title {
  margin-top: 40px;
  font-size: 48px;
  font-weight: 800;
  line-height: 1;
  text-align: center;
  width: 75%;
}
.footer-title span {
  color: #d3587e;
}
@media (max-width: 1110px) {
  .footer-title {
    font-size: 30px;
  }
}
@media (max-width: 767px) {
  .footer-title {
    margin-top: 25px;
    width: 100%;
    font-size: 24px;
  }
}

.footer-text {
  margin-top: 30px;
  font-size: 30px;
  font-weight: 300;
}
@media (max-width: 1110px) {
  .footer-text {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .footer-text {
    margin-top: 15px;
    font-size: 18px;
  }
}

.footer-img__container {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 20px;
  padding-bottom: 125px;
  width: 1300px;
  background: url(../img/3.footer/table.png) no-repeat bottom left;
}
@media (max-width: 1110px) {
  .footer-img__container {
    padding-bottom: 8%;
    width: 100%;
    background-size: contain;
    background-position: bottom center;
  }
}
@media (max-width: 767px) {
  .footer-img__container {
    margin-top: 25px;
  }
}

@media (max-width: 1110px) {
  .footer-img {
    width: 300px;
    align-self: center;
    justify-self: center;
  }
}
@media (max-width: 767px) {
  .footer-img {
    width: 127px;
    height: 112px;
  }
}

@keyframes clouds {
  0% {
    left: -45%;
  }
  100% {
    left: 100%;
  }
}
@keyframes showMessage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes hideMessage {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*# sourceMappingURL=style.css.map */
