@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "variables";
@import "fonts";
@import "header";

.content {
  display: flex;
  flex-flow: column;
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
}

.block {
  display: flex;
  width: 100%;
  position: relative;
  z-index: 20;
}

.block_first {
  flex-flow: column;
}

.block_second {
  margin-top: 100px;

  .inner-block_left {
    margin-top: 180px;
  }
}

.block_third {
  margin-top: -40px;
}

.block_fourth {
  margin-top: -80px;
}

.block_fifth {
  margin-top: -30px;
}

.block_sixth {
  margin-top: -30px;

  .inner-block_left {
    position: relative;
    top: -100px
  }
}

.block_seventh {
  margin-top: -100px;

  .inner-block_left {
    position: relative;
    top: -60px
  }

  .inner-block__text {
    width: 480px;
  }
}

.block_eighth {
  margin-top: -165px;

  .inner-block_left {
    position: relative;
    top: -60px
  }

  .inner-block__text {
    width: 480px;
  }
}

.block_ninth {
  margin-top: -160px;

  .inner-block_left {
    position: relative;
    top: -60px
  }

  .inner-block__text {
    width: 440px;
  }
}

.block_tenth {
  margin-top: -65px;
  margin-bottom: 150px;

  .inner-block_left {
    position: relative;
    top: -80px
  }

  .inner-block__text {
    width: 390px;
  }
}

.block__hide {
  z-index: 10;

  .inner-block_left {
    opacity: 0;
    transition: 0.3s all ease-in-out;
  }

  .inner-block_tower {

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -50%;
      right: 0;
      bottom: 0;

      background: #fff;
      box-shadow: 0 0 50px 50px #fff;
      width: 250%;
      height: 120%;

      opacity: 0.5;
      z-index: 1;

      transition: all 0.3s ease;
    }
  }

  .tower-inner-image {
    opacity: 0;
  }
}

.first-block__logo {
  margin-top: 60px;
}

.first-block-up {
  display: flex;
  flex-flow: column;
  margin-top: 115px;
  font-family: "Nunito";
}

.first-block-up__top-text {
  font-size: 55px;
  color: $red-pink;
  font-weight: 800;
  line-height: 1.309;
}

.first-block-up__title {
  margin-top: 20px;
  font-size: 90px;
  color: $black-blue;
  font-weight: 800;
  line-height: 0.8;
}

.first-block-up__subtitle {
  margin-top: 30px;
  font-size: 30px;
  font-family: "Nunito";
  color: rgb(75, 70, 90);
  line-height: 0.9;

  span {
    font-weight: 800;
  }
}

.inner-block__row {
  display: flex;
  align-items: center;
  margin-top: 45px;
}

.btn {
  height: 65px;
  padding: 0 54px;
  background: $violet;
  border: none;
  border-radius: 30px;
  box-sizing: border-box;
  cursor: pointer;
  color: white;
  font-family: Nunito, sans-serif;
  font-weight: 700;
  letter-spacing: -0.35px;
  outline: none;


  &:hover {
    background: #c357bd;
    background: linear-gradient($violet, #c357bd);

  }

  &:active {
    background: #c357bd;
    background: linear-gradient($violet, #954090);
  }
}

.btn_inner-block {
  width: 230px;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold;
  line-height: 3.3;
}

.inner-block__row-comment {
  margin-left: 25px;
  font-size: 15px;
  font-family: "Nunito";
  color: $grey;
  font-weight: bold;
  line-height: 1.2;
}

.inner-block__row-comment_slide {
  margin-left: 0;
  margin-right: 35px;
  color: #a6b2b6;
  font-weight: 500;
}

.first-block-bottom {
  display: flex;
  position: relative;
  margin-top: 337px;
}

.first-block-bottom__panda-min {
  position: absolute;
  right: 0;
  bottom: 0;

  &:hover {
    .saying-block {
      opacity: 1;
    }
  }
}

.first-block-bottom__image {
  height: 575px;
}

.saying-block {
  position: absolute;
  top: -43%;
  right: -20%;
  display: flex;
  flex-flow: column;
  width: 545px;
  height: 350px;
  padding: 70px 100px 30px;

  justify-content: flex-start;
  align-items: center;

  font-family: Nunito, sans-serif;
  color: $black-blue;
  text-align: center;

  transition: 0.5s all ease-in-out;
  opacity: 0;

  background: url("../img/2.content/saying-bg.png") center 0/contain no-repeat;
}

.saying-block__title {
  font-size: 24px;
  font-weight: 800;
  line-height: 0.708;
}

.saying-block__description {
  display: flex;
  flex-flow: column;
  margin-top: 15px;
  font-size: 17px;
  font-weight: 500;
  height: auto;
  line-height: 1.1;

  span {
    margin-top: 10px;
    font-weight: 800;
  }
}

.saying-block__btn {
  margin-top: 20px;
  width: 100px;
  height: 40px;
  background-color: $light-blue;
  padding: 0;
  font-size: 20px;
}

.inner-block {
  display: flex;
  flex-flow: column;
  font-family: Nunito, sans-serif;
}

.inner-block_left {
  width: 59%;
  height: auto;
  opacity: 1;
}

.inner-block_tower {
  position: relative;
  width: 40%;
  box-shadow: none;
  transition: 0.3s all ease-in-out;
}

.inner-block__title {
  display: flex;
  align-items: center;
  font-size: 44px;
  color: $light-blue;
  font-weight: 800;
  line-height: 0.8;
}

.inner-block__title_heroes {
  &::before {
    content: '';
    background: url("../img/2.content/tower-title1.svg") 0/contain no-repeat;
    width: 120px;
    height: 100px;
    margin-right: 20px;
  }
}

.inner-block__title_learning {
  &::before {
    content: '';
    background: url("../img/2.content/tower-title2.svg") 0/contain no-repeat;
    width: 120px;
    height: 120px;
    margin-right: 20px;
  }
}

.inner-block__title_listening {
  &::before {
    content: '';
    background: url("../img/2.content/tower-title3.svg") 0/contain no-repeat;
    width: 120px;
    height: 100px;
    margin-right: 20px;
  }
}

.inner-block__title_writing {
  &::before {
    content: '';
    background: url("../img/2.content/tower-title4.svg") 0/contain no-repeat;
    width: 115px;
    height: 105px;
    margin-right: 20px;
  }
}

.inner-block__title_speaking {
  &::before {
    content: '';
    background: url("../img/2.content/tower-title5.svg") 0/contain no-repeat;
    width: 115px;
    height: 120px;
    margin-right: 20px;
  }
}

.inner-block__title_mobile {
  &::before {
    content: '';
    background: url("../img/2.content/tower-title6.svg") 0/contain no-repeat;
    width: 115px;
    height: 120px;
    margin-right: 20px;
  }
}

.inner-block__title_reading {
  &::before {
    content: '';
    background: url("../img/2.content/tower-title7.svg") 0/contain no-repeat;
    width: 115px;
    height: 120px;
    margin-right: 20px;
  }
}

.inner-block__title_online {
  &::before {
    content: '';
    background: url("../img/2.content/tower-title8.svg") 0/contain no-repeat;
    width: 120px;
    height: 105px;
    margin-right: 20px;
  }
}

.inner-block__title_main {
  &::before {
    content: '';
    background: url("../img/2.content/tower-title9.svg") 0/contain no-repeat;
    width: 125px;
    height: 110px;
    margin-right: 20px;
  }
}

.inner-block__sub-title {
  margin-top: 25px;
  font-size: 27px;
  font-weight: 800;
}

.inner-block__text {
  margin-top: 30px;
  max-width: 570px;
  font-size: 20px;
  color: #000000;
  font-weight: 600;
  line-height: 1.2;
}

.inner-block__pagination {
  display: flex;
  margin-top: 40px;
  margin-left: 15px;
}

.inner-block__pagination_margin-top{
  margin-top: 170px;
}

.inner-block__pagination-button {
  margin-right: 30px;
  position: relative;

  input {
    opacity: 0;
  }

  span {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 14px;
    height: 14px;

    background: #beddee;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s all ease-in-out;

    &:before {
      position: absolute;
      content: '';
      background: none;
      width: 28px;
      height: 28px;
      border: 1px solid $violet;
      border-radius: inherit;
      transition: 0.3s all ease-in-out;
      opacity: 0;
    }
  }

  > input:checked + span {
    background: $violet;

    &:before {
     opacity: 1;
    }
  }

}

.change-block-btn {
  display: flex;
  flex-flow: column;
  justify-self: flex-end;
  margin-top: auto;
  position: absolute;
  bottom: 50px;
  cursor: pointer;
  width: 480px;

  font-size: 24px;
  color: rgb(190, 221, 238);
  font-weight: bold;
  line-height: 1;
  text-align: left;
  background: none;
  transition: 0.3s all ease-in-out;
  z-index: 100;

  outline: none;
  opacity: 1;

  &::before {
    content: '';
    width: 45px;
    height: 40px;
    margin-bottom: 25px;
    background: url("../img/2.content/arrows.svg") no-repeat;
    position: absolute;
    top: -50px;
    transition: 0.3s all ease-in-out;
    left: 40px;
  }

  &:hover {
    color: #23a9e1;

    &::before {
      background: url("../img/2.content/arrows-active.svg") no-repeat;
    }
  }

  &:active {
    opacity: 0.7;
    transition: all 0.1s ease-in-out;
  }
}

.change-block-btn__fixed {
  position: fixed;
  transition: opacity 1s ease-in-out;
}

.change-block-btn_prev {
  top: 40px;
  bottom: initial;

  &::before {
    top: 110%;
    transform: rotate(180deg);
  }
}

.tower-image {
  position: relative;
  right: 35px;
  bottom: 0;
}

.tower-image_second {
  right: 75px;
}

.tower-image_third {
  right: 80px;
}

.tower-image_fourth {
  right: 125px;
}

.tower-image_fifth {
  right: 155px;
}

.tower-image_sixth {
  right: 182px;
}

.tower-image_seventh {
  right: 220px;
}

.tower-image_eighth {
  right: 260px;
}

.tower-image_ninth {
  right: 308px;
}

.tower-inner-image {
  position: absolute;
  transition: 1s all ease-in-out;
  opacity: 1;
}

.tower-inner-image_first {
  bottom: 15%;
  right: -30%;
}

.tower-inner-image_second {
  top: 21.8%;
  left: 20%;
}

.tower-inner-image_third {
  top: 20%;
  left: 55%;
}

.tower-inner-image_fourth {
  top: 27.6%;
  left: 21%;
  height: 372px;
}

.tower-inner-image_fifth {
  top: 35.5%;
  left: 20%;
}

.tower-inner-image_sixth {
  top: 20%;
  left: 58%;
}

.tower-inner-image_seventh {
  top: 24%;
  left: 20%;
}

.tower-inner-image_eighth {
  bottom: 22%;
  left: -12%;
}

@import "footer";


